<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Library App</title>
    <link rel="icon" href="..\static\images\favicon.ico"/>
    <meta name="description" content="Library App"/>
    <meta name="keywords" content="library, app, webpage, java, html"/>
    <meta name="author" content="Adam Dyczkowski"/>
</head>

<body>
<!-- Navbar Section -->
<nav id="navbar">
    <p>
        <a href="http://localhost:8989/index">Home</a>
    </p>
    <p>
        <a href="http://localhost:8989/account">Account</a>
        <a href="http://localhost:8989/login">Login</a>
        <a href="http://localhost:8989/register">Register</a>
    </p>
</nav>

<!-- Catalog Section -->
<h2>Catalog of books that you can lent, all in stock!</h2>
<ul>
    <li th:each="book : ${books}">
        <b>Title:</b>
        <i>
            <span th:text="${book.title}">Default</span>
        </i><br/>
        <b>Author:</b>
        <i>
            <span th:text="${book.author}">Default</span>
        </i><br/>
        <b>Year Of Release:</b>
        <i>
            <span th:text="${book.yearOfRelease}">Default</span>
        </i><br/>
        <b>Genre:</b>
        <i>
            <span th:text="${book.genre}">Default</span>
        </i><br/>

        <form th:action="'/catalog/' + ${book.id} + '/order'" method="post">
            <input type="submit" name="button1" value="Order"/>
        </form>

        <br/>
    </li>
</ul>

<!-- Footer Section -->
<footer>
    <div>
        <p>© Library 2021. All rights reserved
            <br/>
            -by Adam Dyczkowski and Karol Siezieniewski
        </p>
    </div>
</footer>

</body>
</html>