<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Library App</title>
    <link rel="icon" href="..\static\images\favicon.ico"/>
    <meta name="description" content="Library App"/>
    <meta name="keywords" content="library, app, webpage, java, html"/>
    <meta name="author" content="Adam Dyczkowski"/>
</head>

<body>
<!-- Navbar Section -->
<nav id="navbar">
    <p>
        <a href="index">Home</a>
    </p>
    <p>
        <a href="account">Account</a>
        <a href="login">Login</a>
        <a href="register">Register</a>
    </p>
</nav>

<!-- Register Section -->
<h2>Hand over a new book:</h2>
<form th:action="@{/handling}" method="post">
    <p>Title: <input type="text" name="username" placeholder="Enter your login" size="20" maxlength="64" required>*
    </p>
    <p>Author: <input type="text" name="username" placeholder="Enter your login" size="20" maxlength="64" required>*
    </p>
    <p>Year of release: <input type="number" min="0" max="9999" name="books"></p>
    <p>Genre:</p>
    <p><select name="nazwa" size="6" multiple="multiple">
        <option selected="selected">Fiction</option>
        <option>Thriller</option>
        <option>Horror</option>
        <option>Historical</option>
        <option>Romance</option>
        <option>Science Fiction</option>
        <option>Fantasy</option>
        <option>Other</option>
    </select></p>
    <span>* - field required</span>
    <p><input type="submit" value="Submit">
        <input type="reset" value="Reset"></p>
</form>

<!-- Footer Section -->
<footer>
    <div>
        <p>© Library 2021. All rights reserved
            <br/>
            -by Adam Dyczkowski and Karol Siezieniewski
        </p>
    </div>
</footer>

</body>
</html>