<!DOCTYPE html>

<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Library App</title>
    <link rel="icon" href="..\static\images\favicon.ico"/>
    <meta name="description" content="Library App"/>
    <meta name="keywords" content="library, app, webpage, java, html"/>
    <meta name="author" content="Adam Dyczkowski"/>
</head>

<body>
<!-- Navbar Section -->
<nav id="navbar">
    <p>
        <a href="index">Home</a>
    </p>
    <p>
        <a href="account">Account</a>
        <a href="login">Login</a>
        <a href="register">Register</a>
    </p>
</nav>

<!-- Index Section -->
<h2>Welcome to the Library App!</h2>
<section>
    <p>
        What is it?
        <q>
            <i>
                A web application for books rentals and returns
            </i>
        </q>
    </p>
    <p>
        What we do?
        <q>
            <i>
                We help you develop!
            </i>
        </q>
    </p>
</section>
<!-- Register Section -->
<div>
    <div>
        <h3>Join us now!</h3>
        <p>A virtually endless stock of books at your fingertips!</p>
        <button><a href="register">Register</a></button>
    </div>
</div>
<!-- Login Section -->
<div>
    <div>
        <h3>You already have an account?</h3>
        <p>We are glad to see you back, login by clicking the button below!</p>
        <button><a href="login">Login</a></button>
    </div>
</div>

<!-- Footer Section -->
<br/>
<footer>
    <div>
        <p>© Library 2021. All rights reserved
            <br/>
            -by Adam Dyczkowski and Karol Siezieniewski
        </p>
    </div>
</footer>

</body>
</html>